.container {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    margin: 50px auto 50px auto;
    gap: 50px;
}

.layout {
    display: flex;
    flex-direction: column;
}

/*Media Queries Mobile <768px (tailles XS, SM)*/
@media (max-width: 768px) {
    .container {
        margin: 27px auto 0px auto;
        gap: 22px;
    }
}