.container {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    margin: 50px auto 50px auto;
    gap: 50px;

}

.app {
    display: flex;
    flex-direction: column;
}