.layout {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

/*Media Queries Mobile <768px (tailles XS, SM)*/
@media (max-width: 768px) {
    .layout {
            padding: 20px;
        }
}